name: go

on:
  pull_request:
    branches: [ '*' ]
    paths:
      - 'api/**'
      - 'cmd/**'
      - 'hack/**'
      - 'internal/**'
      - 'go.mod'
      - 'go.sum'

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: ./go.mod
          cache: false
      - run: |
          make lint
      - run: |
          go mod tidy
          git diff-index --quiet HEAD --

  tests:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: ./go.mod
          cache: false
      - run: |
          make test
