name: kube

on:
  pull_request:
    branches: [ '*' ]
    paths:
      - 'config/**'

jobs:
  kube-linter:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version-file: ./go.mod
          cache: false
      - run: |
          make lint-manifests
