name: tests

on:
  pull_request:
    branches: [ "*" ]
  push:
    branches:
      - "main"

jobs:
  unit:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version-file: ./go.mod
      - run: |
          make test
      - uses: codecov/codecov-action@v5
        with:
          token: ${{ secrets.CODECOV_TOKEN }}

  e2e:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: actions/setup-go@v5
        with:
          go-version-file: ./go.mod
      - run: |
          make \
            IMG=localhost:5005/registry-operator:e2e \
              cluster \
              docker-build docker-push \
              deploy
      - run: |
          make \
            test-e2e
